* {
    --border_radius: 10px;

    --bgcolor: #1a2b32;

    --content_bgcolor: #92b3c1;
    --content_margin: 80px;
    --content_padding: 0px;

    --section_bgcolor: #516168;
    --section_margin: 40px;
    --section_padding: 10px;

    
    --project_card_bgcolor: #758e98;
    --project_card_highlight_bgcolor: #508295;
    --project_card_margin: 0px;
    --project_card_padding: 10px;

    --link_button_bgcolor: #34444b;
    --link_button_highlight_bgcolor: #3e6273;

    --header_color: #ffffff;
    color: #e4ebee;
}

h1, h2{
    color: var(--header_color);
    text-align: center;
}

body{
    background-color: var(--bgcolor);
}


#content {
    margin: var(--content_margin);
    padding: var(--content_padding);

    border-radius: var(--border_radius);

    background-color: var(--content_bgcolor);

    display: grid;
}

header, nav, .section{
    margin: var(--section_margin);
    padding: var(--section_padding);
    
    border-radius: var(--border_radius);

    background-color: var(--section_bgcolor);
}

/* header{
    display: block;
} */

nav{
    margin: auto;
    max-width: 50%;
    display:flex;

    /* justify-content: stretch; */
    
    /* grid-template-columns: 1fr 1fr; */
}

.section{
    
    display: grid;

}

a{
    text-decoration: none;
    transition: 0.5s;
}

a:hover{

}

.card_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project_card{
    margin: var(--project_card_margin);
    padding: var(--project_card_padding);
    
    border-radius: var(--border_radius);
    border-style: solid;
    border-width: 0px;
    border-color: #00000000;

    background-color: var(--project_card_bgcolor);
    
    transform: scale(0.9);
}

.project_card:hover{
    border-width: 5px;
    transform: scale(1.0);
    border-color: #ffffffff;
    /* box-shadow: 0px 0px 50px #ffffff; */

    background-color: var(--project_card_highlight_bgcolor);
}

.link_button{
    width:100%;

    margin: 0px;
    padding: 5px;

    background-color: var(--link_button_bgcolor);
    border-style: solid;
    border-width: 0px;
    border-color: #00000000;
    border-radius: var(--border_radius);

    transform: scale(0.9);

    text-decoration: underline;
    text-align: center;
}

.link_button:hover{
    background-color: var(--link_button_highlight_bgcolor);
    color: #ffffff;
    
    border-width: 2px;
    border-color: #ffffffff;
    
    transform: scale(1.0);
}

.thumbnail{
    width: 100%;
    /* max-height: 500px; */
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: var(--border_radius);
}

.header_thumbnail{
    display: block;
    margin: auto;

    width: 50%;
    /* max-height: 500px; */
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: var(--border_radius);

    text-align: center;
    align-self: center;
    align-content: center;
}

.media_image{
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: var(--border_radius);
    margin: auto;
}

.media_image_gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}